<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar'); -%>



            <div class="maincontainer">
                <section>
                                        <div
                    id="carouselExampleDark"
                    class="carousel carousel-fade slide"
                    data-bs-ride="carousel"
                    >
                    <div class="carousel-indicators">
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="0"
                        class="active"
                        aria-label="Slide 1"
                        aria-current="true"
                        ></button>
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                        class=""
                        ></button>
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                        class=""
                        ></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="https://images6.alphacoders.com/592/592471.jpg" />
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Where Inspiration Ignites</h1>
                            <p>Explore a world of art that moves you.</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img
                            src="https://wallpapers.com/images/featured/4k-painting-ze08s2umco2ikud6.jpg"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h1>The Canvas of Creativity</h1>
                            <p>
                            Discover emerging and established artists at our Art Gallery.
                            </p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img
                            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c424bbb0-a0e6-4a95-b422-56f707c6e172/dgxjjgo-a25edd46-cb6d-4c0a-a25a-6ce211ced737.jpg/v1/fill/w_1280,h_431,q_75,strp/painting_landscape__concept_art__hd_wallpaper__by_gabimedia_dgxjjgo-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0MjRiYmIwLWEwZTYtNGE5NS1iNDIyLTU2ZjcwN2M2ZTE3MlwvZGd4ampnby1hMjVlZGQ0Ni1jYjZkLTRjMGEtYTI1YS02Y2UyMTFjZWQ3MzcuanBnIiwiaGVpZ2h0IjoiPD00MzEiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC9jNDI0YmJiMC1hMGU2LTRhOTUtYjQyMi01NmY3MDdjNmUxNzJcL2dhYmltZWRpYS00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.thqAJSknsTSn21CTxeoC_qMxQ7lSZB5N1ct4QhE7iOw"
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Encounter the Extraordinary</h1>
                            <p>Immerse yourself in captivating exhibitions.</p>
                        </div>
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </section>
                <section class="latestPortfolio">
                    <div class="portfolioSub">
                        <p class="subtile">Our Works</p>
                        <h2 class="title">Resources to check out </h2>
                    </div>
                    <div class="portfoliocategory">
                        <div class="portfolioFlex">
                            <img src="images/w1.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Latest News</p>
                                <hr>
                            </div>
                        </div>
                        <div class="portfolioFlex">
                            <img src="images/w2.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Food Services</p>
                                <hr>
                            </div>
                        </div>
                        <div class="portfolioFlex">
                            <img src="images/w3.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Health & Dental Coverage</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
             
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>

    </body>

</html>