<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar'); -%>



            <div class="maincontainer">
                <section>
                                        <div
                    id="carouselExampleDark"
                    class="carousel carousel-fade slide"
                    data-bs-ride="carousel"
                    >
                    <div class="carousel-indicators">
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="0"
                        class="active"
                        aria-label="Slide 1"
                        aria-current="true"
                        ></button>
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                        class=""
                        ></button>
                        <button
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                        class=""
                        ></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="images/csibanner.webp" />
                        <div class="carousel-caption  d-md-block">
                            <h1>Welcome to CSI</h1>
                            <p>Student Experience is Our Business.</p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img
                            src="images/banner2.jpg"
                        />
                        <div class="carousel-caption d-md-block">
                            <h1>Visit CSI service hubs</h1>
                            <p>
                                ⏰ Open from 8am</p>
                            <p> 5pm Monday to Friday!
                            </p>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <img
                            src="images/banner3.jpg"
                        />
                        <div class="carousel-caption  d-md-block">
                            <h1>Wrap, roll, enjoy!</h1>
                            <p>Swing by Pita Pit on the second floor </p>
                            <p>of the Rec Center
                            </p>
                        </div>
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleDark"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                </section>
                <section class="latestPortfolio">
                    <div class="portfolioSub">
                        <p class="subtile">Our Works</p>
                        <h2 class="title">Resources to check out </h2>
                    </div>
                    <div class="portfoliocategory">
                        <div class="portfolioFlex">
                            <img src="images/w1.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Latest News</p>
                                <hr>
                            </div>
                        </div>
                        <div class="portfolioFlex">
                            <img src="images/w2.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Food Services</p>
                                <hr>
                            </div>
                        </div>
                        <div class="portfolioFlex">
                            <img src="images/w3.jpg" />
                            <div class="overlay"></div>
                            <div class="innerPortfolio">
                                <p>Health & Dental Coverage</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
             
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>

    </body>

</html>