<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar'); -%>



            <div class="maincontainer">
                <span>TEYUDGuyishdgaiovahegihe</span>
            </div>
             
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>

    </body>

</html>